/* 폰트 */
@font-face {
  font-family: 'COCOGOOSE';
  src:url('COCOGOOSE.ttf.woff') format('woff'),
      url('COCOGOOSE.ttf.svg#COCOGOOSE') format('svg'),
      url('COCOGOOSE.ttf.eot'),
      url('COCOGOOSE.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

/* 노말라이즈 */
body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

/* 라이브러리 */
.img-box {
  display: block;
  width: 100%;
}

.section-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-img {
  z-index: -100;
}

.icon-up, .icon-down {
  top: auto;
  bottom: 55px;
  right:150px;
  left:auto;
  z-index:100;
}

/* 커스텀 */
/* 홈 */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  top: 45px;
  left: 150px;
}

.menu-box-1 {
  top: 57px;
  right: 150px;
  font-size: 25px;
  font-family: 'COCOGOOSE';
}

.menu-box-1>ul>li {
  padding-left: 80px;
}

.svg-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-1 {
  transition: stroke-dashoffset 1s;
}

.svg-1:hover {
  stroke-dashoffset: 0;
}

.active-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.active-line:active {
  stroke-dashoffset: -1000;
}

.main-text {
  font-family: 'COCOGOOSE';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  color: #A37CC9;
  text-shadow: 2px 2px 2px #000;
}

/* 자기소개 */
.am-img-1 {
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

/* 포트폴리오 */
.pf-img-1 {
  top: auto;
  bottom: 55px;
  left: 55px;
}

/* 연락 */
.ct-img-1 {
  top: 301px;
  left: 320px;
}

.ct-img-2 {
  top: 273px;
  left: 1015px;
}

.ct-img-3-1 {
  top: 380px;
  left: 1585px;
}

.ct-img-3-2 {
  top: 652px;
  left: 1704px;
}

.ct-img-3-3 {
  top: 825px;
  left: 1560px;
}

.ct-img-3-4 {
  top: 700px;
  left: 970px;
}

.ct-form-1 {
  top: 377px;
  left: 1121px;
}

.ct-form-2 {
  top: 450px;
  left: 1121px;
}

.ct-form-3 {
  top: 801px;
  left: 1310px;
}

input,
textarea {
  border: none;
  background-color: inherit;
  font-family: 'NotoKrL';
  font-size: 20px;
  font-weight: lighter;
}

input {  
  width: 460px;
}

input:focus {
  outline: none;
}

textarea {
  width: 470px;
  height: 290px;
  overflow: hidden;
  resize: none;
}

textarea:focus {
  outline: none;
}

button {
  border: 0;
  outline: 0;
  background-color: inherit;
  font-family: 'COCOGOOSE';
  font-size: 25px;
  color:#535050;
} 